@font-face {
  font-family: "Onest";
  src: url("/src/assets/fonts/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --fontWhite: #ffffff;
  --bgBlack: #0E0E0E;
  --fontPurple: #7235D5;
  --buttonPurple: linear-gradient(143.71deg, #FF8CF4 -30.41%, #7235D5 125.54%);
  --bgGrey: #2B2B2B;
  --tableBlack: #17171A;
  --tableGreen: #1CE47B;
  --tableRed: #E72D07;
  --borderGrey: #585555;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Onest, Inter, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 24px;
  color: var(--fontWhite);
  background: var(--bgBlack);
  padding: 40px 40px 0 40px;
  position: relative;
  overflow-x: hidden;
}

h3 {
  font-size: 50px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

a {
  color: var(--fontWhite);
  text-decoration: none;
}

.gradient__background-wrapper {
  width: 70%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.gradient__background {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.template {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: block;
}

.header__logo {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.header__burger-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -110%;
  transition: right 0.5s ease-in-out;
  background: var(--bgBlack);
  z-index: 5;
  padding: 0 16px;
  box-sizing: border-box;
}

.menu-open {
  right: 0;
}

.burger-menu__btn_cross {
  position: absolute;
  top: 18px;
  right: 14px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 8px;
}

.burger-menu__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 218px;
}

.burger-menu__nav_list {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
}

.burger-menu__nav_item {
  cursor: pointer;
  font-size: 24px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__item {
  cursor: pointer;
}

.button__purple {
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px;
  background: var(--buttonPurple);
  color: var(--fontWhite);
}

.button__purple_small {
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px;
  background: var(--buttonPurple);
  color: var(--fontWhite);
}

.button__white {
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px;
  background: var(--fontWhite);
  color: var(--fontPurple);
}

.sphere-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.canvasContainer {
  bottom: 10%;
  right: -30px;
  width: 560px;
  height: 560px;
  position: absolute;
  z-index: -1;
}

.sphere-section__wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 148px);
}

.sphere-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 670px;
  height: 100%;
}

.content__title {
  font-size: 42px;
  font-weight: 400;
}

.content__text {
  max-width: 540px;
  margin: 16px 0 32px 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 60px));
  }
}

.content__slider {
  display: flex;
  gap: 60px;
  position: relative;
}

.slider__track {
  animation: scroll 15s linear infinite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  gap: 60px;
  flex-shrink: 0;
}

.features-section {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.features-section__title {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
}

.features-section__cards {
  display: flex;
  gap: 20px;
}

.features-section__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.card__title {
  font-size: 24px;
  font-weight: 500;
  height: 62px;
  width: 95%;
}

.card__text {
  font-size: 16px;
}

.earnings-section {
  margin-top: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.earnings-section__background-wrapper {
  width: 100vw;
  height: 110%;
  top: -200px;
  left: -40px;
  position: absolute;
  z-index: -1;
}

.earnings-section__background {
  width: 100%;
  height: 140%;
}

.earnings-section__wrapper {
  display: flex;
  max-width: 1172px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.earnings-section__content {
  width: 42.3%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.technology__title {
  height: 62px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.earnings-section__image {
  width: 47.4%;
}

.technologies-section {
  margin-top: 208px;
  display: flex;
  flex-direction: column;
}

.technologies-section__title {
  width: 54%;
}

.technologies-section__wrapper {
  display: flex;
  gap: 70px;
}

.technologies-section__content {
  display: flex;
  flex-direction: column;
  width: 49.3%;
}

.technologies-section__cards {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-gap: 12px 20px;
  margin: 42px 0 32px 0;
}

.technologies-section__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.technologies-section__image-wrapper {
  position: relative;
  width: 45.6%;
}

.technologies-section__image {
  position: absolute;
  width: calc(100% + 45px);
  aspect-ratio: (660 / 617);
  bottom: 60px;
}

.steps-section {
  margin-top: 85px;
  padding: 40px 0;
  position: relative;
}

.steps-section__background {
  width: 100vw;
  height: 100%;
  top: 0;
  left: -40px;
  position: absolute;
  background-color: var(--bgGrey);
  z-index: -1;
}

.steps-section__title {
  text-align: center;
}

.steps-section__subtitle {
  text-align: center;
  margin: 32px auto 62px auto;
  width: 85%;
}

.steps-section__cards {
  display: flex;
  gap: 63.8px;
}

.scroll {
  opacity: 0;
  transition: opacity 3000ms;
}

.scroll.scrolled {
  opacity: 1;
}

.steps-section__card {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card__wrapper {
  display: flex;
  gap: 63px;
}

.card__number {
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  border-radius: 8px;
  background: var(--buttonPurple);
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__arrow-wrapper {
  display: flex;
  align-items: center;
}

.card__arrow {
  width: 100%;
}

.card__arrow_rotate {
  display: none;
}

.card__title_large {
  font-size: 32px;
  font-weight: 500;
}

.operations-section {
  margin-top: 140px;
}

.operations-section__table-wrapper {
  overflow-x: auto;
}

.operations-section__table-wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: var(--borderGrey);
}

.operations-section__table-wrapper::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--borderGrey), 0 0 6px var(--borderGrey);
  background-color: var(--bgBlack);
  border-radius: 3px;
  border: 1px solid var(--borderGrey);
}

.operations-section__title {
  text-align: center;
  margin-bottom: 64px;
}

.operations-section__table {
  background-color: var(--tableBlack);
  border-radius: 16px;
}

.table__row {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px;
  border-bottom: 1px solid var(--borderGrey);
}

.table__row:last-child {
  border-bottom: none;
}

.table__cell:first-child {
  width: 45%;
}

.table__cell:nth-child(2) {
  width: 30%;
}

.table__cell:last-child {
  text-align: end;
  width: 25%;
}

.table__cell_green {
  color: var(--tableGreen);
}

.table__cell_red {
  color: var(--tableRed);
}

.table__cell_grey {
  color: var(--borderGrey);
}

.form-section {
  margin-top: 140px;
}

.form-section__title {
  text-align: center;
  margin-bottom: 64px;
}

.form-section__form {
  max-width: 632px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.form__inputs {
  display: flex;
  gap: 32px;
  width: 100%;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.form__label {
  font-size: 14px;
  font-weight: 500;
}

.form__input_input {
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 8px;
}

.footer {
  margin-top: 140px;
  padding: 64px 0;
  position: relative;
}

.footer__background {
  width: 100vw;
  height: 100%;
  top: 0;
  left: -40px;
  position: absolute;
  z-index: -1;
  background: var(--buttonPurple);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .gradient__background-wrapper {
    top: -100px;
  }

  .gradient__background {
    width: 150%;
    height: 150%;
    object-fit: contain;
  }
  
  body {
    font-size: 20px;
    padding: 45px 45px 0 45px;
  }

  h3 {
    font-size: 32px;
  }

  .header__logo {
    font-size: 24px;
  }

  .content__title {
    font-size: 32px;
  }

  .canvasContainer {
    bottom: 100px;
    right: -200px;
  }

  .features-section {
    margin-top: 100px;
  }

  .features-section__title {
    font-size: 42px;
  }

  .card__title {
    font-size: 20px;
  }

  .earnings-section {
    margin-top: 100px;
  }

  .earnings-section__content {
    width: 49.7%;
  }

  .earnings-section__image {
    width: 48.5%;
  }

  .technology__title {
    height: 30px;
  }

  .technologies-section__wrapper {
    gap: 23px;
  }

  .technologies-section__content {
    width: 66%;
  }

  .technologies-section__cards {
    margin: 42px 0 24px 0;
  }

  .technologies-section__image-wrapper {
    width: 31.6%;
  }

  .technologies-section__image {
    width: calc(140% + 45px);
    top: 45px;
    bottom: 0;
  }

  .steps-section__cards {
    gap: 45px;
  }

  .card__number {
    font-size: 24px;
    width: 60px;
    height: 60px;
  }

  .operations-section {
    margin-top: 100px;
  }

  .operations-section__title {
    margin-bottom: 32px;
  }

  .form-section {
    margin-top: 100px;
  }

  .footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
    padding: 20px 16px 0 16px;
  }

  h3 {
    font-size: 24px;
  }
  
  .header__burger-btn {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .content__title {
    font-size: 24px;
  }

  .button__purple {
    max-width: 358px;
    width: 100%;
  }

  .sphere-section__wrapper {
    height: calc(100vh - 110px);
  }

  .sphere-section__content {
    justify-content: flex-start;
    margin-top: 68px;
  }

  .features-section {
    margin-top: 60px;
    gap: 54px;
  }

  .features-section__title {
    font-size: 36px;
    text-align: start;
  }

  .features-section__cards {
    flex-direction: column;
    gap: 32px;
  }

  .features-section__card {
    gap: 16px;
  }

  .card__title {
    height: auto;
  }

  .earnings-section {
    margin-top: 92px;
  }

  .earnings-section__content {
    width: 100%;
  }

  .earnings-section__title {
    font-size: 20px;
  }

  .earnings-section__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .earnings-section__background-wrapper {
    height: 120%;
    top: -200px;
    left: -16px;
  }

  .earnings-section__background {
    height: 110%;
  }

  .earnings-section__image {
    width: 100%;
  }

  .technologies-section {
    margin-top: 100px;
  }

  .technologies-section__title {
    width: 100%;
  }

  .technologies-section__content {
    width: 100%;
  }

  .technologies-section__image-wrapper {
    display: none;
  }

  .technologies-section__cards {
    margin: 32px 0;
  }

  .technologies-section__card {
    gap: 17px;
  }

  .steps-section {
    margin-top: 100px;
    padding: 32px 0;
  }

  .steps-section__background {
    left: -16px;
  }

  .steps-section__title {
    text-align: start;
  }

  .steps-section__subtitle {
    margin: 32px auto 32px auto;
    width: 100%;
    text-align: start;
  }

  .steps-section__cards {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .steps-section__card {
    max-width: 358px;
    width: 100%;
    align-items: center;
  }

  .card__title_large {
    font-size: 20px;
  }

  .card__wrapper {
    display: block;
  }

  .card__arrow {
    display: none;
  }

  .card__arrow_rotate {
    display: block;
    width: 41px;
  }

  .card__content {
    text-align: center;
    align-items: center;
  }

  .operations-section {
    margin-top: 100px;
  }

  .operations-section__title {
    text-align: start;
  }

  .footer__background {
    left: -16px;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  .footer__nav {
    max-width: 358px;
    width: 100%;
  }

  .footer__nav_list {
    flex-direction: column;
    gap: 41px;
    font-size: 24px;
  }

  .button__white {
    width: 100%;
  }
}

@media screen and (max-width: 764px) {
  .button__purple_small {
    width: 100%;
  }

  .gradient__background-wrapper {
    width: 150%;
    top: 0;
    right: -45%;
  }
  

  .gradient__background {
    width: 120%;
    height: 150%;
  }

  .canvasContainer {
    bottom: 10%;
    right: -200px;
    width: 400px;
    height: 400px;
  }

  .technologies-section__cards {
    grid-template-columns: 100%;
    column-gap: 32px;
  }

  .earnings-section__background-wrapper {
    top: -50px;
    height: 110%;
  }

  .table__row {
    padding: 14px 25px;
    font-size: 14px;
  }

  .form-section__title {
    margin-bottom: 32px;
  }

  .form__inputs {
    gap: 24px;
    flex-direction: column;
  }
}
